---
import AboutHeroImage from '../assets/yo.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="My Ghost"
	description="Sobre Val y sobre el blog"
	pubDate={new Date('Mayo 6, 2026')}
	heroImage={AboutHeroImage}
>
	<p>
		Soy Val, una artista digital y uno de mis más grandes intereses es el cyberpunk y lo que conlleva:
		 su estética, su movimiento, la cultura que surgió de ahí y como fue que se transformó con el tiempo.
		 Durante la carrera lo vi como una corriente literaria y desde ese momento supe que quería hablar
		sobre el cyberpunk.
	</p>

	<p>
		Considero que es un movimiento que estuvo lleno de un propósito dentro de la ciencia ficción.
		Investigando más a fondo puedo decir que es muy interesante la sociedad High Tech, Low Life y
		las problemáticas que maneja así como las consecuencias que tiene.
	</p>

	<p>
		Comencé este blog con el propósito de crear un espacio para hablar del cyberpunk y todo lo que
		esté relacionado, o por lo menos, loq ue pueda investigar. Quiero conectar con más personas
		 que estén interesadas en conocer más sobre estos mundos y lo que los vuelve tan únicos. 

	</p>

	<p>
		Escogí específicamente hacer un blog escrito, algo que ya no es tan popular como era antes, pero
		sinceramente no busco ser viral, actualmente la norma son podcast y videos cortos, formato que puedes escuchar
		mientras haces otra cosa, pero considero que hay algo mágico en dedicar dos minutos de tu tiempo para leer algo.
		
	</p>

	<p>
		Así que comencé con el único objetivo de hacer una clase de "artículos" medio largos para promover la
		investigación, redacción, lectura y lo más importante: el cariño por un Hobby.
	</p>
	
	<p>
		Escrito sin IA, usando mi propio cerebro y con claros errores.

	</p>
</Layout>
