---
import AboutHeroImage from '../assets/yo.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="My Ghost"
	description="Sobre Val y sobre el blog"
	pubDate={new Date('Mayo 6, 2026')}
	heroImage={AboutHeroImage}
>
	<p>
		Soy Val, soy artista digital y uno de mis más grandes intereses es el cyberpunk: su estética, su movimiento, 
		la cultura que surgió de ahí. Me lo enseñaron durante la carrera y desde ese momento supe que quería hablar
		sobre esto.
	</p>

	<p>
		Me gusta mucho el cyberpunk por que considero que es un movimiento que en su momento (80s) tuvo muchísimo
		impacto y eso cambió y se transformó, considero que la perspectiva de una sociedad High Tech, Low Life es 
		muy interesante y es algo que está muy próximo a suceder, pero quizá no tan dramático como lo han pintado.
	</p>

	<p>
		Comencé este blog con el propósito de conectar con más gente que esté interesada en conocer más sobre el 
		cyberpunk y que estén genuinamente interesados en conocer más sobre el tema, por eso un blog, algo que 
		actualmente está casi obsoleto, pero hecho con el único motivo de hacer alguna clase de "artículos" medio
		largos para promover la investigación, redacción y lo más importante: el cariño por un Hobby.
	</p>

	<p>
	</p>

	<p>
		Escrito sin IA.
	</p>
</Layout>
